;----------------------------- RIGHT HAND CONFIGURATION ----------------------------------------
[MAIN]
isNez=1
autoDetach=1

[SERVO_PIN]
rotationCylindre=46
berceau=48

[SERVO_MINIMUM]
rotationCylindre=0
berceau=21


[SERVO_MAXIMUM]
rotationCylindre=48
berceau=46


[SERVO_MAP_REST]
rotationCylindre=46
berceau=49



[DEF_SPEED]
rotationCylindre=100
berceau=100

;----------------------------------- END --------------------------------------------------


