;----------------------------- finger Sensor CONFIGURATION ----------------------------------------
[MAIN]
 
rightHandSensorActivated=True
rightHandSensorArduino=right


right_thumb_Psi_low=2
right_thumb_Psi_mid=4
right_thumb_Psi_max=7


right_index_Psi_low=2
right_index_Psi_mid=4
right_index_Psi_max=7


right_majeure_Psi_low=2
right_majeure_Psi_mid=4
right_majeure_Psi_max=7


right_ringFinger_Psi_low=2
right_ringFinger_Psi_mid=4
right_ringFinger_Psi_max=7


right_pinky_Psi_low=2
right_pinky_Psi_mid=4
right_pinky_Psi_max=7


right_extra_Psi_low=2
right_extra_Psi_mid=4
right_extra_Psi_max=7


;analog pin range are 14-18 on uno, 54-70 on mega
right_thumbPin=54 ;--------A0
right_indexPin=55 ;--------A1
right_majeurePin=56 ;------A2
right_ringFingerPin=57 ;---A3
right_pinkyPin=58 ;--------A4
right_extraPin=62 ;--------A5


leftHandSensorActivated=True
leftHandSensorArduino=left


left_thumb_Psi_low=2
left_thumb_Psi_mid=4
left_thumb_Psi_max=7


left_index_Psi_low=2
left_index_Psi_mid=4
left_index_Psi_max=7


left_majeure_Psi_low=2
left_majeure_Psi_mid=4
left_majeure_Psi_max=7


left_ringFinger_Psi_low=2
left_ringFinger_Psi_mid=4
left_ringFinger_Psi_max=7


left_pinky_Psi_low=2
left_pinky_Psi_mid=4
left_pinky_Psi_max=7


left_extra_Psi_low=2
left_extra_Psi_mid=4
left_extra_Psi_max=7

;analog pin range are 14-18 on uno, 54-70 on mega
left_thumbPin=54 ;--------A0
left_indexPin=55 ;--------A1
left_majeurePin=56 ;------A2
left_ringFingerPin=57 ;---A3
left_pinkyPin=58 ;--------A4
left_extraPin=62 ;--------A5
